/* Fonts */
@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
}

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 100 1000;
}

:root {
  /* Font */
  --font-young-serif: "Young Serif", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  /* Typography */
  --line-height-1: 100%;
  --line-height-2: 150%;
  --text-preset-1: 400 40px / var(--line-height-1) var(--font-young-serif);
  --text-preset-2: 400 28px / var(--line-height-1) var(--font-young-serif);
  --text-preset-3: 600 20px / var(--line-height-1) var(--font-outfit);
  --text-preset-4: 400 16px / var(--line-height-2) var(--font-outfit);
  --text-preset-4-bold: 700 16px / var(--line-height-2) var(--font-outfit);
}

/* General */
body {
  font: var(--text-preset-4);
}

/* Footer Attribution */
.attribution {
  font-size: 0.75rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.attribution a:hover {
  opacity: 0.8;
  text-decoration: underline;
}
